/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
/* Navigation Bar */
nav {
  display: flex;
  justify-content:space-between;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
  color: #111010;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav span {
  color: #fd6e0a;
}
.btn-primary{
      width: 100px;
      height: 40px;
      border: 0;
      background-color: #fd6e0a;
      color: #fff;
      border-radius: 5px;
}